<h3>Add Movie</h3>
<form [formGroup]="movieForm">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="title" type="text" class="form-control"
           formControlName="titleController"/>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Decription</label>
    <textarea name="description" class="form-control"
              formControlName="descriptionController">
    </textarea>
  </div>

  <div class="mb-3">
    <label for="imageURL" class="form-label">Image URL</label>
    <input name="imageURL" type="text" class="form-control"
           formControlName="imageURLController"/>
  </div>

  <div class="mb-3">
    <label for="categoryId" class="form-label">Category</label>
    <select name="categoryId" class="form-select"
            formControlName="categoryIdController">
      <option
        *ngFor="let category of categories"
        [value]="category.id">{{category.name}}</option>
    </select>
  </div>

  <button class="btn btn-warning" (click)="clear()">Clear</button>
  <button type="submit" class="btn btn-primary m-lg-2" (click)="onSaveButtonPressed()">Save</button>

</form>
