<div class="alert alert-danger" *ngIf="serviceError">{{serviceError}}</div>
<div class="list-group">
  <a (click)="getAllCategories()" class="list-group-item list-group-item-action">Refresh</a>
  <a [class.active]="displayAll" (click)="onCategorySelected()" class="list-group-item list-group-item-action">Tüm Kategoriler</a>
  <a [class.active]="!displayAll && category.id == selectedCategory.id" (click)="onCategorySelected(category)" class="list-group-item list-group-item-action" *ngFor="let category of categories">{{category.name}}</a>
</div>
