<div class="alert alert-danger" *ngIf="serviceError">{{serviceError}}</div>

<div class="list-group">
  <a routerLink="/movies"
     [class.active]="displayAll" (click)="onCategorySelected()"
     class="list-group-item list-group-item-action">Tüm Kategoriler</a>
  <a
    routerLink="/movies/category/{{category.id}}"
    [class.active]="!displayAll && category.id == selectedCategory.id"
    (click)="onCategorySelected(category)"
    class="list-group-item list-group-item-action" *ngFor="let category of categories">{{category.name}}</a>
</div>
