<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">Movie Application</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/category/add" class="nav-link">Add Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="/movies/add" class="nav-link">Add Movie</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/auth" class="nav-link">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
